<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-text color="black" class="ion-text-center">
    <h1>ABOUT</h1>
  </ion-text>
  <br>
  <ion-text color="black" >
    <ion-grid [fixed]="false">
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="ion-text-right">Name</ion-col>
        <ion-col class="ion-text-left">Whatsapp Redirect</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-text>
  <ion-text color="black" >
    <ion-grid [fixed]="false">
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="ion-text-right">Version</ion-col>
        <ion-col class="ion-text-left">v1.0.0</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-text>
  <ion-text color="black" class="ion-text-center">
    <ion-grid [fixed]="false">
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="ion-text-right">Dev</ion-col>
        <ion-col class="ion-text-left">MBShop</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-text>
  <ion-text color="black" class="ion-text-center">
    <ion-grid [fixed]="false">
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col class="ion-text-left"><a href="#" onclick="window.open('https://mbshop.id', '_system', 'location=yes'); return false;" class="button button-outline button-positive">MBShop.id</a></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-text>
</ion-content>
